html {
  line-height: 1.15;
}
nav {
  box-shadow: 0px 0.5px 1px 1px #d3d3d3;
  background-color: #f9f9f9;
  background-image: linear-gradient(#f8f8f8, #f5f5f5);
  display: block;
  position: relative;
  z-index: 21;
  height: 38px;
}
nav .container {
  width: 1220px;
  margin-left: auto;
  margin-right: auto;
}
nav .container .nav_main {
  font-size: 12px;
  float: left;
  line-height: 38px;
  height: 37px;
}
nav .container .nav_main ul {
  list-style: none;
}
nav .container .nav_main ul li {
  display: list-item;
}
nav .container .nav_main ul li a {
  color: rgba(0, 0, 0, 0.5);
  padding: 4px 15px;
  cursor: pointer;
  transition: all 0.15s ease-out;
  text-decoration: none;
}
nav .container .nav_main ul li a:hover {
  color: rgba(0, 0, 0, 0.7);
  font-weight: 700;
}
nav .container .nav_aside {
  float: right;
  font-size: 12px;
}
nav .container .nav_aside ul {
  list-style: none;
  float: left;
  line-height: 38px;
  height: 37px;
  margin-right: 0;
}
nav .container .nav_aside ul li {
  position: relative;
  float: left;
}
nav .container .nav_aside ul li a {
  color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: all 0.15s ease-out;
  text-decoration: none;
}
nav .container .nav_aside ul li a:hover {
  color: rgba(0, 0, 0, 0.7);
  font-weight: 700;
  transition: all 0.3s ease-out;
}
nav .container .nav_aside ul li:first-child {
  padding-left: 0;
}
.product-content {
  position: relative;
  width: 100%;
  background: #fff;
  padding-bottom: 60px;
}
.product-content .product-con {
  background: #fcfcfc;
  border-bottom: 1px solid #e8e8e8;
}
.product-content .product-con .product-main {
  position: relative;
  padding-top: 50px;
  margin: 0 auto;
  height: 1018.96px;
}
.product-content .product-con .product-main .product-info {
  float: left;
  width: 610px;
  margin-left: 610px;
}
.product-content .product-con .product-main .product-info .product-title {
  padding-bottom: 30px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}
.product-content .product-con .product-main .product-info .product-title h1 {
  font-size: 30px;
  color: #000;
  line-height: 1;
  font-weight: 400;
}
.product-content .product-con .product-main .product-info .product-title h2 {
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
  padding-top: 20px;
  color: #999;
}
.product-content .product-con .product-main .product-info .product-title h2 sup {
  font-size: 8px;
}
.product-content .product-con .product-main .product-info .activity {
  margin: 0;
  padding: 30px 0;
  height: 86.76px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}
.product-content .product-con .product-main .product-info .activity .activities {
  position: relative;
}
.product-content .product-con .product-main .product-info .activity .activities .cuxiao {
  height: 38px;
  line-height: 38px;
  width: 85px;
  color: #666;
  font-size: 14px;
  float: left;
}
.product-content .product-con .product-main .product-info .activity .activities .activities-list {
  position: relative;
  float: left;
  width: 472px;
  height: 100%;
  top: 10px;
}
.product-content .product-con .product-main .product-info .activity .activities .activities-list article:first-child {
  margin-top: 0;
}
.product-content .product-con .product-main .product-info .activity .activities .activities-list article {
  display: flex;
  font-size: 12px;
  line-height: 20px;
  margin-top: 12px;
}
.product-content .product-con .product-main .product-info .activity .activities .activities-list article figure {
  flex-shrink: 0;
  position: relative;
  display: block;
}
.product-content .product-con .product-main .product-info .activity .activities .activities-list article figure .tag {
  vertical-align: middle;
  text-align: center;
  padding: 0 8px;
  font-size: 12px;
  line-height: 18px;
  border-radius: 13px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.05);
  overflow: hidden;
  margin-top: -1px;
  margin-right: 10px;
  display: inline-block;
  border: 1px solid #d3d3d3;
}
.product-content .product-con .product-main .product-info .activity .activities .activities-list article figure .tag-yellow {
  background: #fffbe5;
  border: 1px solid #ffe57a;
  color: #e6b217;
}
.product-content .product-con .product-main .product-info .activity .activities .activities-list article figure .tag-green {
  color: #80a436;
  background: #f3fcdf;
  border: 1px solid #bed698;
}
.product-content .product-con .product-main .product-info .activity .activities .activities-list article figure .tag-red {
  color: #d44d44;
  background: #fce9e8;
  border-color: #f0bab6;
}
.product-content .product-con .product-main .product-info .activity .activities .activities-list article label {
  font-size: 12px;
  line-height: 20px;
  cursor: default;
  display: inline-block;
  color: gray;
}
.product-content .product-con .product-main .product-info .activity .activities .activities-list article label .free {
  margin-right: 10px;
  display: inline-block;
  cursor: default;
  color: #d44d44;
  font-size: 12px;
  line-height: 20px;
  padding-left: 5px;
  font-weight: bolder;
}
.product-content .product-con .product-main .product-info .activity .activities .activities-list article label .blank {
  margin-right: 10px;
  display: inline-block;
  cursor: default;
  color: #5079d9;
  font-size: 12px;
  line-height: 20px;
  padding-left: 5px;
}
.product-content .product-con .product-main .product-info .product-sel {
  overflow: hidden;
  margin-top: 30px;
}
.product-content .product-con .product-main .product-info .product-sel .product-sel-main {
  position: relative;
}
.product-content .product-con .product-main .product-info .product-sel .product-sel-main .spec-name {
  width: 85px;
  height: 34px;
  line-height: 34px;
  color: #666;
  font-size: 14px;
  float: left;
}
.product-content .product-con .product-main .product-info .product-sel .product-sel-main ul {
  padding-top: 0;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.08);
  position: relative;
  float: left;
  width: 525px;
  height: 100%;
  padding-bottom: 30px!important;
  list-style: none;
}
.product-content .product-con .product-main .product-info .product-sel .product-sel-main ul li {
  position: relative;
  float: left;
  width: 175px;
  height: 38px;
  cursor: pointer;
  font-size: 0;
  padding-top: 1px;
}
.product-content .product-con .product-main .product-info .product-sel .product-sel-main ul li .color .color-box {
  display: inline-block;
  position: relative;
}
.product-content .product-con .product-main .product-info .product-sel .product-sel-main ul li .color .color-box .color-item {
  border: 2px solid #e5e5e5;
  padding: 2px;
  display: inline-block;
  border-radius: 50%;
  transition: box-shadow 0.15s ease-out;
  font-style: normal;
  margin: 0;
}
.product-content .product-con .product-main .product-info .product-sel .product-sel-main ul li .color .color-box .color-item img {
  display: block;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  font-style: normal;
  border: 0;
}
.product-content .product-con .product-main .product-info .product-sel .product-sel-main ul li .color .color-box .active {
  border: 3px solid #999 !important;
}
.product-content .product-con .product-main .product-info .product-sel .product-sel-main ul li .color label {
  font-size: 14px;
  color: #333;
  height: 36px;
  line-height: 36px;
  position: absolute;
  left: 46px;
  cursor: pointer;
}
.product-content .product-con .product-main .product-info .product-memory-sel {
  margin-top: 30px;
}
.product-content .product-con .product-main .product-info .product-memory-sel .product-memory {
  overflow: hidden;
  zoom: 1;
  padding: 2px 0 0;
}
.product-content .product-con .product-main .product-info .product-memory-sel .product-memory .spec-name1 {
  width: 85px;
  height: 34px;
  line-height: 34px;
  color: #666;
  font-size: 14px;
  float: left;
}
.product-content .product-con .product-main .product-info .product-memory-sel .product-memory .spec-info {
  border-bottom: none;
  position: relative;
  display: inline-block;
  width: 525px;
  padding-bottom: 20px!important;
  list-style: none;
}
.product-content .product-con .product-main .product-info .product-memory-sel .product-memory .spec-info li {
  float: left;
  border: 1px solid #e5e5e5;
  border-radius: 7px;
  cursor: pointer;
  transition: box-shadow 0.15s linear;
  margin-right: 10px;
  margin-bottom: 10px;
}
.product-content .product-con .product-main .product-info .product-memory-sel .product-memory .spec-info li .spec-item {
  display: block;
  text-align: center;
  padding: 0 13px;
  height: 45px;
  line-height: 45px;
}
.product-content .product-con .product-main .product-info .product-memory-sel .product-memory .spec-info li .spec-item h1 {
  color: #323232;
  font-size: 18px;
  height: 100%;
  font-weight: 400;
}
.product-content .product-con .product-main .product-info .product-memory-sel .product-memory .spec-info li .active {
  color: #999;
  border: 1px solid #6a8fe6;
  transition: none;
  box-shadow: none;
  border-radius: 7px;
}
.product-content .product-con .product-main .product-info .product-memory-sel .product-memory .spec-info li .active h1 {
  font-weight: 700 !important;
}
.product-content .product-con .product-main .product-info .product-memory-sel .server {
  margin: 0;
  padding: 25px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.08);
}
.product-content .product-con .product-main .product-info .product-memory-sel .server .title {
  width: 85px;
  color: #666;
  font-size: 14px;
  float: left;
}
.product-content .product-con .product-main .product-info .product-memory-sel .server p {
  position: relative;
  line-height: 1.5;
  padding-left: 10px;
  color: #999;
  font-size: 12px;
  padding-bottom: 0;
  display: flex;
}
.product-content .product-con .product-main .product-info .product-memory-sel .server p:before {
  content: "*";
  top: 2px;
  margin: auto;
  position: absolute;
  left: 0;
  font-size: 14px;
}
.product-content .product-con .product-main .product-info .product-memory-sel .insurance {
  padding: 30px 0;
  overflow: auto;
  border-top: 1px solid rgba(0, 0, 0, 0.08);
}
.product-content .product-con .product-main .product-info .product-memory-sel .insurance .insurance-title {
  width: 85px;
  height: 70px;
  line-height: 70px;
  color: #666;
  font-size: 14px;
  float: left;
  box-sizing: border-box;
}
.product-content .product-con .product-main .product-info .product-memory-sel .insurance .insurance-info {
  position: relative;
  float: left;
  width: 525px;
  height: 100%;
  list-style: none;
}
.product-content .product-con .product-main .product-info .product-memory-sel .insurance .insurance-info li {
  position: relative;
  width: 525px;
  cursor: pointer;
  transition: box-shadow 0.15s linear;
  margin-bottom: 20px;
}
.product-content .product-con .product-main .product-info .product-memory-sel .insurance .insurance-info li .insurance-item {
  position: relative;
  height: 70px;
  border: 1px solid #e5e5e5;
  border-radius: 7px;
}
.product-content .product-con .product-main .product-info .product-memory-sel .insurance .insurance-info li .insurance-item .insurance-item-left {
  float: left;
  color: #333;
  margin-left: 20px;
}
.product-content .product-con .product-main .product-info .product-memory-sel .insurance .insurance-info li .insurance-item .insurance-item-left h1 {
  font-size: 18px;
  margin-top: 13px;
  font-weight: 400;
}
.product-content .product-con .product-main .product-info .product-memory-sel .insurance .insurance-info li .insurance-item .insurance-item-left p {
  font-size: 14px;
  margin-top: 11px;
  color: #999;
}
.product-content .product-con .product-main .product-info .product-memory-sel .insurance .insurance-info li .insurance-item .insurance-item-right {
  float: right;
  color: #d44d44;
  margin-right: 20px;
}
.product-content .product-con .product-main .product-info .product-memory-sel .insurance .insurance-info li .insurance-item .insurance-item-right h2 {
  font-size: 14px;
  margin-top: 9px;
  font-weight: 400;
}
.product-content .product-con .product-main .product-info .product-memory-sel .insurance .insurance-info li .insurance-item .insurance-item-right h2 span {
  font-size: 21px;
  display: inline-block;
}
.product-content .product-con .product-main .product-info .product-memory-sel .insurance .insurance-info li .insurance-item .insurance-item-right p {
  font-size: 14px;
  margin-top: 10px;
}
.product-content .product-con .product-main .product-info .product-memory-sel .insurance .insurance-info li .insurance-item .insurance-item-right p span {
  font-size: 14px;
  display: inline-block;
}
.product-content .product-con .product-main .product-info .product-memory-sel .insurance .insurance-info li .insurance-item .insurance-item-right .icon {
  position: absolute;
  width: 15px;
  height: 15px;
  top: -1px;
  right: 0;
  background-image: url('../img/duigou.png');
}
.product-content .product-con .product-main .product-info .product-memory-sel .insurance .insurance-tips {
  clear: both;
  padding-top: 30px;
  margin-left: 85px;
  font-size: 0;
  overflow: auto;
}
.product-content .product-con .product-main .product-info .product-memory-sel .insurance .insurance-tips .name {
  width: 72px;
  height: 20px;
  float: left;
}
.product-content .product-con .product-main .product-info .product-memory-sel .insurance .insurance-tips .name i {
  position: relative;
  line-height: 18px;
  font-size: 12px;
  color: #666;
  font-weight: 700;
  font-style: normal;
}
.product-content .product-con .product-main .product-info .product-memory-sel .insurance .insurance-tips .info {
  position: relative;
  width: 450px;
  float: left;
  line-height: 18px;
  font-size: 12px;
  color: #7a7a7a;
  margin-top: -3px;
}
.product-content .product-con .product-main .product-info .product-memory-sel .insurance .insurance-tips .info p {
  margin-bottom: 15px;
  line-height: 24px;
  text-align: justify;
  text-align-last: left;
}
.product-content .product-con .product-main .product-info .product-memory-sel .insurance .insurance-tips .info p a {
  color: #5079d9;
  cursor: pointer;
  transition: all 0.15s ease-out;
  text-decoration: none;
}
.product-content .product-con .product-main .product-view {
  float: left;
  width: 610px;
  font-size: 0;
  text-align: center;
  margin-left: -100%;
}
.product-content .product-con .product-main .product-view img {
  height: 500px;
  width: 500px;
}
.product-recommend-wrapper {
  width: 100%;
  border-bottom: 1px solid #e8e8e8;
  height: 1076.2px;
}
.product-recommend-wrapper .product-recommend {
  position: relative;
  padding-bottom: 50px;
  font-size: 0;
  width: 1220px;
  margin: 0 auto;
}
.product-recommend-wrapper .product-recommend h1 {
  width: 1220px;
  margin: 0 auto;
  font-size: 24px;
  font-weight: 700;
  color: #333;
  padding: 60px 0;
}
.product-recommend-wrapper .product-recommend ul li {
  position: relative;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}
.product-recommend-wrapper .product-recommend ul li .product-box-item {
  position: relative;
  width: 295px;
  height: 429px;
  box-sizing: border-box;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  transition: box-shadow 0.15s ease-out;
  cursor: pointer;
  background: transparent;
}
.product-recommend-wrapper .product-recommend ul li .product-box-item .item-img {
  height: 295px;
  width: 281px;
}
.product-recommend-wrapper .product-recommend ul li .product-box-item .item-img img {
  display: block;
  width: 216px;
  height: 216px;
  margin: 0 auto;
  padding: 45px 0 20px;
}
.product-recommend-wrapper .product-recommend ul li .product-box-item .item-img:hover {
  box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.03) inset;
}
.product-recommend-wrapper .product-recommend ul li .product-box-item h4 {
  line-height: 1.2;
  font-size: 14px;
  color: #333;
  font-weight: 700;
  margin: 0 24px;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.product-recommend-wrapper .product-recommend ul li .product-box-item h4 sup {
  font-size: 8px;
}
.product-recommend-wrapper .product-recommend ul li .product-box-item h6 {
  overflow: hidden;
  padding: 15px 24px 0;
  font-size: 12px;
  line-height: 1.2;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #999;
  text-align: center;
  font-weight: 400;
}
.product-recommend-wrapper .product-recommend ul li .product-box-item .params-color {
  margin-top: 15px;
  text-align: center;
  height: 14px;
}
.product-recommend-wrapper .product-recommend ul li .product-box-item .params-color .color-list {
  display: inline-block;
  overflow: hidden;
  list-style: none;
}
.product-recommend-wrapper .product-recommend ul li .product-box-item .params-color .color-list li {
  float: left;
  cursor: pointer;
  margin: 0 5px;
}
.product-recommend-wrapper .product-recommend ul li .product-box-item .params-color .color-list li .outer {
  width: 8px;
  height: 8px;
  border: 1px solid #e5e5e5;
  border-radius: 50%;
  padding: 2px;
  transition: all 0.15s ease-out;
  box-shadow: inset 0 0 0 1px #b2b2b2;
  border-color: #b2b2b2;
}
.product-recommend-wrapper .product-recommend ul li .product-box-item .params-color .color-list li .outer img {
  width: inherit;
  height: inherit;
  border-radius: 50%;
  display: block;
}
.product-recommend-wrapper .product-recommend ul li .product-box-item .item-price {
  font-size: 0;
  font-family: Arial;
  color: #d44d44;
  font-weight: 700;
  margin-top: 20px;
  text-align: center;
  transition: all 0.1s ease-out;
}
.product-recommend-wrapper .product-recommend ul li .product-box-item .item-price .price {
  display: inline-block;
}
.product-recommend-wrapper .product-recommend ul li .product-box-item .item-price .price span {
  display: flex;
  font-size: 18px;
  padding-left: 4px;
}
.product-recommend-wrapper .product-recommend ul li .product-box-item .item-price .price span i {
  font-style: normal;
}
.product-recommend-wrapper .product-recommend ul li .product-box-item .item-price .price span span {
  font-size: 18px;
}
.product-recommend-wrapper .product-recommend ul li .product-box-item .item-price .orl-price {
  display: flex;
  position: relative;
  display: inline-block;
  padding-left: 10px;
  font-weight: 400;
  color: #ccc;
}
.product-recommend-wrapper .product-recommend ul li .product-box-item .item-price .orl-price span {
  display: flex;
  padding-left: 2px;
  font-size: 12px;
}
.product-recommend-wrapper .product-recommend ul li .product-box-item .item-price .orl-price span i {
  font-style: normal;
}
.product-recommend-wrapper .product-recommend ul li .product-box-item .item-price .orl-price span span {
  padding-left: 2px;
  font-size: 12px;
}
.product-recommend-wrapper .product-recommend ul li .product-box-item .item-price .orl-price:after {
  position: absolute;
  content: "";
  border-top: 1px solid #ccc;
  width: 85%;
  top: 46%;
  left: 9px;
}
.product-recommend-wrapper .product-recommend ul li .product-box-item .color-tag .colorful-tag {
  position: absolute;
  right: 10px;
  top: 10px;
  padding: 0 10px;
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
  border: 1px solid #e6e6e6;
  border-radius: 13px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.05);
}
.product-recommend-wrapper .product-recommend ul li .product-box-item .color-tag .yellow {
  color: #a06e37;
  background: #fffbdf;
  border-color: #d5b480;
}
.product-recommend-wrapper .product-recommend ul li .product-box-item:hover {
  box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.03) inset;
}
.product-recommend-wrapper .fix-bar {
  position: fixed;
  width: 100%;
  height: 60px;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fafafa;
  border-top: 1px solid #e3e3e3;
  box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.04);
  z-index: 25;
}
.product-recommend-wrapper .fix-bar .fix-bar-wrapper {
  display: flex;
  justify-content: space-between;
  width: 1220px;
  line-height: 20px;
  margin: 12px auto 0;
}
.product-recommend-wrapper .fix-bar .fix-bar-wrapper .bar-left {
  display: flex;
  justify-content: flex-start;
}
.product-recommend-wrapper .fix-bar .fix-bar-wrapper .bar-left .bar-text {
  color: #333;
  font-size: 12px;
  font-weight: 500;
  margin-right: 20px;
}
.product-recommend-wrapper .fix-bar .fix-bar-wrapper .bar-left .bar-device-info {
  position: relative;
  margin-right: 20px;
  font-size: 14px;
}
.product-recommend-wrapper .fix-bar .fix-bar-wrapper .bar-left .bar-device-info h1 {
  font-size: 100%;
  font-weight: 400;
}
.product-recommend-wrapper .fix-bar .fix-bar-wrapper .bar-left .bar-device-info h1 .title {
  color: #333;
  float: left;
  font-weight: 700;
}
.product-recommend-wrapper .fix-bar .fix-bar-wrapper .bar-left .bar-device-info h1 .price {
  display: flex;
  position: relative;
  margin-left: 15px;
  color: #d44d44;
  float: left;
  font-weight: 700;
}
.product-recommend-wrapper .fix-bar .fix-bar-wrapper .bar-left .bar-device-info h1 .price i {
  font-style: normal;
  font-size: 12px;
}
.product-recommend-wrapper .fix-bar .fix-bar-wrapper .bar-left .bar-device-info h1 .price span {
  color: #d44d44;
  font-weight: 700;
}
.product-recommend-wrapper .fix-bar .fix-bar-wrapper .bar-left .bar-device-info h1 .ori-price {
  float: left;
  position: relative;
  margin-left: 15px;
  color: #9d9d9d;
  display: flex;
}
.product-recommend-wrapper .fix-bar .fix-bar-wrapper .bar-left .bar-device-info h1 .ori-price i {
  font-style: normal;
  font-size: 12px;
}
.product-recommend-wrapper .fix-bar .fix-bar-wrapper .bar-left .bar-device-info h1 .ori-price span {
  color: #9d9d9d;
}
.product-recommend-wrapper .fix-bar .fix-bar-wrapper .bar-left .bar-device-info h1 .ori-price:after {
  content: "";
  width: 106%;
  height: 2px;
  background: #9d9d9d;
  position: absolute;
  top: 45%;
  left: -2px;
}
.product-recommend-wrapper .fix-bar .fix-bar-wrapper .bar-left .bar-device-info h2 {
  font-size: 12px;
  color: #9d9d9d;
  font-weight: 400;
}
.product-recommend-wrapper .fix-bar .fix-bar-wrapper .bar-left .bar-device-info h2 span {
  display: inline-block;
}
.product-recommend-wrapper .fix-bar .fix-bar-wrapper .bar-right {
  display: flex;
  justify-content: flex-end;
}
.product-recommend-wrapper .fix-bar .fix-bar-wrapper .bar-right .has-discount-price {
  margin-right: 20px;
  text-align: right;
}
.product-recommend-wrapper .fix-bar .fix-bar-wrapper .bar-right .has-discount-price .bar-price {
  display: flex;
  text-align: right;
  line-height: 24px;
  position: relative;
  font-size: 20px;
  font-weight: 500;
  color: #d44d44;
}
.product-recommend-wrapper .fix-bar .fix-bar-wrapper .bar-right .has-discount-price .bar-price i {
  font-style: normal;
  font-size: 14px;
}
.product-recommend-wrapper .fix-bar .fix-bar-wrapper .bar-right .has-discount-price .bar-ori-price {
  position: relative;
  color: #969696;
  line-height: 14px;
  display: inline-block;
  vertical-align: top;
  display: flex;
  text-align: right;
  float: right;
}
.product-recommend-wrapper .fix-bar .fix-bar-wrapper .bar-right .has-discount-price .bar-ori-price i {
  font-style: normal;
  font-size: 12px;
}
.product-recommend-wrapper .fix-bar .fix-bar-wrapper .bar-right .has-discount-price .bar-ori-price:after {
  content: "";
  width: 105%;
  height: 2px;
  background: #9d9d9d;
  position: absolute;
  top: 45%;
  right: -2px;
}
.product-recommend-wrapper .fix-bar .fix-bar-wrapper .bar-right .bar-btn {
  width: 118px;
  height: 38px;
  line-height: 38px;
  text-align: center;
  color: #fff;
  cursor: pointer;
  margin-left: 10px;
  border-radius: 6px;
  background-color: #6383c6;
  background-image: linear-gradient(#6383c6, #4262af);
  margin-top: -2px;
  padding: 1px;
  float: right;
  font-weight: 700;
}
.product-recommend-wrapper .fix-bar .fix-bar-wrapper .bar-right .bar-btn a {
  display: block;
  height: 34px;
  line-height: 34px;
  padding: 2px 0;
  border-radius: 6px;
  background-color: #5f7ed7;
  background-image: linear-gradient(#6f97e5, #527ed9);
  box-shadow: inset 0 1px 2px #7ea1e8;
  text-shadow: 0 -1px 0 #4f70b3;
  color: #fff;
  transition: none;
  cursor: pointer;
  text-decoration: none;
}
.product-recommend-wrapper .fix-bar .fix-bar-wrapper .bar-right .white-btn {
  height: 40px;
  padding: 0;
  border: 1px solid #dedede;
  background-color: #f8f8f8;
  background-image: linear-gradient(#fbfbfb, #f5f5f5);
}
.product-recommend-wrapper .fix-bar .fix-bar-wrapper .bar-right .white-btn a {
  height: 40px;
  line-height: 40px;
  padding: 0;
  color: #646464;
  font-weight: 700;
  background-color: #f8f8f8;
  background-image: linear-gradient(#fbfbfb, #f5f5f5);
  box-shadow: none;
  text-shadow: none;
  display: block;
  border-radius: 6px;
  transition: none;
  cursor: pointer;
  text-decoration: none;
}
